/**
 * page
 */

.page {
  --color-primary: #333333;
  --color-secondary: #ffffff;

  --font-size-base: 16px;
  font-size: var(--font-size-base);
}

@media (min-width: 768px) {
  .page {
    --font-size-base: 18px;
  }
}

@media (min-width: 1280px) {
  .page {
    --font-size-base: 20px;
  }
}

.page__body {
  --page-columns: 1fr;
  --page-areas: "header" "sidebar" "main";
  --page-padding: 1em;

  display: grid;
  grid-template-columns: var(--page-columns);
  grid-template-areas: var(--page-areas);
  gap: 1em;
  padding-right: var(--page-padding);
  padding-left: var(--page-padding);
  padding-bottom: var(--page-padding);
  min-width: 320px;
  max-width: 1280px;
  margin-right: auto;
  margin-left: auto;
  box-sizing: border-box;
  color: var(--color-primary);
  font-size: 1rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans",
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  line-height: 1.5;
}

@media (min-width: 768px) {
  .page__body {
    --sidebar-width: 300px;
    --page-columns: var(--sidebar-width) 1fr;
    --page-areas: "header header" "sidebar main";
  }
}

@media (min-width: 1280px) {
  .page__body {
    --sidebar-width: 450px;
  }
}

.page__header {
  border-bottom: 0.125rem solid currentColor;
}

.page__main {
  --page-main-padding: 1em;
  --page-main-border: 0.125rem solid currentColor;

  padding-top: var(--page-main-padding);
  border-top: var(--page-main-border);
}

@media (min-width: 768px) {
  .page__main {
    --page-main-padding: 0;
    --page-main-border: none;
  }
}

/**
 * image
 */

.image {
  max-width: 100%;
  height: auto;
}

/**
 * text
 */

.text {
  margin: 0;
  font-size: 1rem;
}

.text_case_upper {
  text-transform: uppercase;
}

.text_size_lg {
  font-size: 1.2rem;
}

.text_size_xl {
  font-size: 1.6rem;
}

.text_size_2xl {
  font-size: 1.9rem;
}

/**
 * header
 */

.header {
  --header-columns: 1fr;
  --header-areas: "title" "text" "avatar";
  --header-padding-y: 1em;

  display: grid;
  grid-template-columns: var(--header-columns);
  grid-template-areas: var(--header-areas);
  gap: 0.5rem;
  grid-area: header;
  padding-top: var(--header-padding-y);
  padding-bottom: var(--header-padding-y);
}

@media (min-width: 768px) {
  .header {
    --header-columns: 1fr 1fr;
    --header-areas: "title avatar" "text avatar";
  }
}

.header__title {
  grid-area: title;
}

@media (min-width: 768px) {
  .header__title {
    align-self: end;
  }
}

.header__text {
  grid-area: text;
}

.header__avatar {
  grid-area: avatar;
}

@media (min-width: 768px) {
  .header__avatar {
    justify-self: end;
  }
}

/**
 * time
 */

.time {
  font-size: 0.75rem;
}

/**
 * link
 */

.link {
  color: currentColor;
}

.link:hover {
  text-decoration: none;
}

.link:focus {
  outline: none;
}

.link:focus-visible {
  outline: 0.1em solid currentColor;
  text-decoration: none;
}

/**
 * sidebar
 */

.sidebar {
  --sidebar-gap: 1rem;

  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--sidebar-gap);
  grid-area: sidebar;
}

@media (min-width: 768px) {
  .sidebar {
    --sidebar-gap: 1.5rem;

    display: flex;
    flex-direction: column;
    border-right: 0.125rem solid currentColor;
  }
}

/**
 * main
 */

.main {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

/**
 * box
 */

.box {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

/**
 * section
 */

.section {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

/**
 * list
 */

.list {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  margin: 0;
  padding: 0;
  list-style: none;
}

.list__item {
  position: relative;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding-left: 1em;
}

.list__item::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 0.5em;
  height: 1px;
  background-color: currentColor;
}
